@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
@layer {
=======
@layer base {
>>>>>>> origin/main
  input::-ms-reveal {
    display: none;
  }

<<<<<<< HEAD
=======
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

>>>>>>> origin/main
  .customized-date-input::-webkit-calendar-picker-indicator {
    background-image: url("/svg/date-icon.svg");
    background-size: 150%;
    background-position: -5px;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}
<<<<<<< HEAD
=======

@layer components {
  .page-spacing-x {
    @apply px-4 md:px-8;
  }
}
>>>>>>> origin/main
